.box{
	width: 100%;
}
.box .container{
	width: 1200px;
	margin: 100px auto;
}
.box .container .head{
	display: flex;
	justify-content: center;
}
.box .container .head > li{
	padding: 20px;
	border: 1px solid red;
	background-color: rgba(0,0,255,.4);
	position: relative;
}
.box .container .head ul{
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	text-align: center;
	line-height: 2em;
	border: 1px solid rgba(0,255,0,.8);
	border-top: none;
	display: none;
}
.box .container .head ul li{
	background-color: darkcyan;
}
.box .container .head ul li a{
	color: white;
}